<h2>{{ titulo }}</h2>
<form [formGroup]="formulario" (ngSubmit)="crearDoctor()">
    <div class="col-lg-8">
        <div class="form-row mb-2">
            <div class="form-group col-md-6">
                <label class="control-label">Nombre</label>
                <input class="form-control" formControlName="Nombre" [class.is-invalid]="nombreObligatorio" />
                <span *ngIf="nombreObligatorio" class="text-danger">
                    {{ mensaje }}
                </span>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Cédula</label>
                <input class="form-control" formControlName="Cedula" [class.is-invalid]="cedulaObligatorio" />
                <span *ngIf="cedulaObligatorio" class="text-danger">
                    {{ mensaje }}
                </span>
            </div>
        </div>
        <div class="form-row mb-2">
            <div class="form-group col-md-6">
                <label class="control-label">Especialidad</label>
                <input class="form-control" formControlName="Especialidad" [class.is-invalid]="especialidadObligatorio" />
                <span *ngIf="especialidadObligatorio" class="text-danger">
                    {{ mensaje }}
                </span>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Número credencial</label>
                <input class="form-control" formControlName="NumeroCredencial" [class.is-invalid]="credencialObligatorio" />
                <span *ngIf="credencialObligatorio" class="text-danger">
                    {{ mensaje }}
                </span>
            </div>
        </div>
        <div class="form-row mb-2">
            <div class="form-group col-md-6">
                <label class="control-label">Hospital trabajo</label>
                <input class="form-control" formControlName="HospitalTrabajo" [class.is-invalid]="hospitalObligatorio" />
                <span *ngIf="hospitalObligatorio" class="text-danger">
                    {{ mensaje }}
                </span>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Teléfono</label>
                <input class="form-control" formControlName="Telefono" [class.is-invalid]="telefonoObligatorio" />
                <span *ngIf="telefonoObligatorio" class="text-danger">
                    {{ mensaje }}
                </span>
            </div>
        </div>
        <div class="form-row mb-2">
            <div class="col-md-3"></div>
            <div class="form-group col-md-6">
                <label class="control-label">Pacientes</label>
                <select class="form-control" formControlName="Pacientes">
                    <option *ngFor="let paciente of pacientes" value="{{ paciente.id }}">
                        {{ paciente.nombre }}
                    </option>
                </select>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="form-row">
            <div class="col-md-2"></div>
            <div class="form-group col-md-4">
                <button type="submit" class="btn btn-primary btn-block">
                    <i class="far fa-save fa-lg mr-2"></i>Guardar
                </button>
            </div>
            <div class="form-group col-md-4">
                <a asp-action="Index" class="btn btn-primary btn-block" routerLink="/doctores">
                    <i class="fas fa-backspace fa-lg mr-2"></i>Regresar
                </a>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</form>