<h2>{{ titulo }}</h2>
<div class="col-lg-8">
    <div class="form-row mb-2">
        <div class="form-group col-md-6">
            <label class="control-label">Nombre</label>
            <label class="form-control">{{ doctor.nombre }}</label>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label">Cédula</label>
            <label class="form-control">{{ doctor.cedula }}</label>
        </div>
    </div>
    <div class="form-row mb-2">
        <div class="form-group col-md-6">
            <label class="control-label">Especialidad</label>
            <label class="form-control">{{ doctor.especialidad }}</label>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label">Número credencial</label>
            <label class="form-control">{{ doctor.numeroCredencial }}</label>
        </div>
    </div>
    <div class="form-row mb-2">
        <div class="form-group col-md-6">
            <label class="control-label">Hospital trabajo</label>
            <label class="form-control">{{ doctor.hospitalTrabajo }}</label>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label">Teléfono</label>
            <label class="form-control">{{ doctor.telefono }}</label>
        </div>
    </div>
    <div class="form-row mb-2">
        <div class="col-md-3"></div>
        <div class="form-group col-md-6">
            <button class="btn btn-primary btn-block margen-boton" data-toggle="modal" data-target="#exampleModal">Listado pacientes</button>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="form-row">
        <div class="col-md-3"></div>
        <div class="form-group col-md-6">
            <a asp-action="Index" class="btn btn-primary btn-block" routerLink="/doctores">
                <i class="fas fa-backspace fa-lg mr-2"></i>Regresar
            </a>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-block text-center">
                <h2 class="modal-title" id="exampleModalLabel">Doctores</h2>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let paciente of pacientes">{{ paciente.Paciente }}</li>
                </ul>
            </div>
            <div class="modal-footer d-block text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>