<div class="text-right mb-3">
    <a class="btn btn-outline-primary" routerLink="crear-paciente"><i class="fa fa-plus-square mr-2"></i>Crear paciente</a>
</div>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">N°</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cédula</th>
            <th scope="col">Doctores</th>
            <th scope="col">Teléfono</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let paciente of pacientes">
            <td>{{ paciente.id }}</td>
            <td>{{ paciente.nombre }}</td>
            <td>{{ paciente.cedula }}</td>
            <td><button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="getDoctoresPorPaciente(paciente.id)">Listado doctores</button></td>
            <td>{{ paciente.telefono }}</td>
            <td><a class="text-primary" [routerLink]="['actualizar-paciente', paciente.id]"><i class="fa fa-marker fa-2x"></i></a></td>
            <td><a class="text-danger" (click)="eliminarPaciente(paciente)"><i class="fa fa-trash-alt fa-2x"></i></a></td>
            <td><a class="text-success" [routerLink]="['detalle-paciente', paciente.id]"><i class="fa fa-info-circle fa-2x"></i></a></td>
        </tr>
    </tbody>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-block text-center">
                <h2 class="modal-title" id="exampleModalLabel">Doctores</h2>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let doctor of doctores">{{ doctor.Doctor }}</li>
                </ul>
            </div>
            <div class="modal-footer d-block text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>