<h2>{{ titulo }}</h2>
<form [formGroup]="formulario" (ngSubmit)="actualizarPaciente()">
    <div class="col-lg-8">
        <div class="form-row mb-2">
            <div class="form-group col-md-6">
                <label class="control-label">Nombre</label>
                <input class="form-control" formControlName="Nombre" [class.is-invalid]="nombreObligatorio" />
                <span *ngIf="nombreObligatorio" class="text-danger">
                    {{ mensaje }}
                </span>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Cédula</label>
                <input class="form-control" formControlName="Cedula" [class.is-invalid]="cedulaObligatorio" />
                <span *ngIf="cedulaObligatorio" class="text-danger">
                    {{ mensaje }}
                </span>
            </div>
        </div>
        <div class="form-row mb-2">
            <div class="form-group col-md-6">
                <label class="control-label">Número seguro</label>
                <input class="form-control" formControlName="NumeroSeguro" [class.is-invalid]="seguroObligatorio" />
                <span *ngIf="seguroObligatorio" class="text-danger">
                    {{ mensaje }}
                </span>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Código postal</label>
                <input class="form-control" formControlName="CodigoPostal" [class.is-invalid]="postalObligatorio" />
                <span *ngIf="postalObligatorio" class="text-danger">
                    {{ mensaje }}
                </span>
            </div>
        </div>
        <div class="form-row mb-2">
            <div class="form-group col-md-6">
                <label class="control-label">Teléfono</label>
                <input class="form-control" formControlName="Telefono" [class.is-invalid]="telefonoObligatorio" />
                <span *ngIf="telefonoObligatorio" class="text-danger">
                    {{ mensaje }}
                </span>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Doctores</label>
                <select class="form-control" formControlName="Doctores">
                    <option *ngFor="let doctor of doctores" value="{{ doctor.id }}" >
                        {{ doctor.nombre }}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-2"></div>
            <div class="form-group col-md-4">
                <button type="submit" class="btn btn-primary btn-block">
                    <i class="far fa-save fa-lg mr-2"></i>Guardar
                </button>
            </div>
            <div class="form-group col-md-4">
                <a asp-action="Index" class="btn btn-primary btn-block" routerLink="/pacientes">
                    <i class="fas fa-backspace fa-lg mr-2"></i>Regresar
                </a>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</form>